.remove-button {

   background-color: rgb(15, 20, 23);
   color: white;
   border-radius: 5px;
   height: 35px;
   padding: 3px auto 10px;
}

.remove-button:hover {
   background-color: rgb(28, 23, 18);
}